body {
  font-size: 140%;
  background-color: lightgray;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav a {
  padding: 1em;
  margin: 0 0.5em;
  transition: 1s all;
}

header nav a:hover {
  background-color: beige;
}

header nav a.active {
  background-color: rgb(246, 246, 191);
}

main {
  text-align: center;
}